<div class="container aboutDiv"> 
  <h3>About Us</h3>
  <h3>What is Mise En Place?</h3>
  <h5>Mise en place (French pronunciation: ​[mi zɑ̃ ˈplas]) is a French culinary phrase which means "putting in place" or
  "everything in its place." It refers to the set up required before cooking, and is often used in professional kitchens
  to refer to organizing and arranging the ingredients (e.g., cuts of meat, relishes, sauces, par-cooked items, spices,
  freshly chopped vegetables, and other components) that a cook will require for the menu items that are expected to be
  prepared during a shift.</h5>
</div>
<br>
<hr>
<div class="container aboutDiv">
  <h3>But Seriously!!!!</h3>
  <h3>What is Mise En Place?</h3>
  <h5>Mise en place is the best tool in your kitchen! You can Create, Read, Update and Delete your recipes!</h5>
  <h5>You can also Create your owns books, where you collect Your favorite Recipes.</h5>
  <br>
  <h3>Can i See Recipes from Other People?</h3>
  <p><span class="exclamation">Absolutely!</span> Mise-En-Place is the place to find new Recipes created by Professional and Amateur Chefs!</p>
  <br>

  <h3>Once i Sign Up, Can i add Recipes From the App Database?</h3>
  <p><span class="exclamation">YES!</span> Our Our Developer used to Be a Chef and he is Sharing his World Famous Recipes With you!</p>
</div>
<hr>
<div class="container aboutDiv">
  <h1>Who is this Guy!?</h1>
  <img class="aboutImg" src="/images/10645102_812089848811926_835407615921786259_n.jpg" alt="">
  <h2>Chef? Web Developer? Pug`s Best Friend?</h2>
<h1>YES!</h1>
<p>
  "- After 10 years traveling the world, acquiring a Bachelors in Business and fulfilling the dream of becoming a Chef de
  Cuisine i have decided to change paths and move into technology.
  </p>
  <p>
    
   - After all these years in the Hospitality industry and changing into Technology, i feel the same excitement i felt in my
  Kitchen days. My knowledge of programming languages, Business Operations, and the principles of software development
  make me equipped to achieve and deliver, always focused on budget and deadlines."

  </p>
  <p>
  -Technologies: JavaScript, MongoDB, Express.js, React.js, Node.js, CSS, Bootstrap, jQuery, AJAX.
  
  -Specialties: Hospitality Business management, Budget management, Software Development.
</p>

</div>
<div class="container ">
<a href="/contact"><button class="btn btn-outline-primary">Contact Me!</button></a>
</div>