<div class="jumbotron jumbo">



<form action="mailto:danielsauthier@live.com" method="post" enctype="text/plain">
<h2>Contact Me!</h2>
  Name:<br>
  <input type="text" name="name"><br>
  E-mail:<br>
  <input type="text" name="mail"><br>
  Comment:<br>
  <input type="text" name="comment" size="50"><br><br>

  <input class="orangeButton btn btn-outline-success" type="submit" value="Send">
  <input class="orangeButton btn btn-outline-success" type="reset" value="Reset">
</form>
</div>