<div id="container" class="overflow">
  <h1>Mise En Place<a href="/login"><button class="real btn btn-outline-success"> Create Your Recipe Book!</button></a></h1>
  <div id="seperator"></div>
  <div id="lime">
    <div class="peel" id="first"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel"></div>
    <div class="peel" id="last"></div>
    <div class="inside">
      <div class="arm" id="arm1"></div>
      <div class="arm" id="arm2"></div>
      <div class="arm" id="arm3"></div>
      <div class="seperator"></div>
    </div>
    <div class="outside">
      <div class="arm" id="arm1"></div>
      <div class="arm" id="arm2"></div>
      <div class="arm" id="arm3"></div>
      <div class="seperator"></div>
    </div>
  </div>
</div>

{{!-- -=-=-==-=--=-=-=-==-- --}}



<br>
<br>
{{!-- 
<h5> </h5> --}}

</div>

