
<div class="container newRecipeDiv">


<h1>Create New recipe here</h1>

<form action="/recipes/recipes/create" method="POST" enctype="multipart/form-data">
<label for="name">Recipe Name: </label>
<input type="text" name="name" required>
<br>

<label>Image : </label>
<input type="file" name="image">


<br>
<label for="cuisine">Type: </label>
<select name="cuisine" style="width: 20%;">

    <option value="Carnivore">Carnivore</option>
    <option value="Vegetarian">Vegetarian</option>
    <option value="Vegan">Vegan</option>
    <option value="Seafood">Seafood</option>
    <option value="Poultry">Poultry</option>
    <option value="All Purpose">All Purpose</option>
    <option value="Basics">Basics</option>

</select>
<br>
<label for="time">Time to Make : </label>
<input type="number" name="time" required> Minutes
<br>
    <div class="recipeText">
             <div class="textArea" >
            <label for="ingredients">Ingredients Name : </label>
            <textarea name="ingredients" id="" cols="10" rows="15" placeholder="Please Insert one ingredient and Hit enter after each ingredient to create a list of ingredients."></textarea>
            </div>

            <div class="textArea">
            <label id="diferentLabel" for="ingredients">Amount in Grams: </label>
            <textarea name="amountOfEachIngredient" id="" cols="10" rows="15" placeholder = "Please Insert one ingredient amount per ingredient and hit enter after it."></textarea>
            </div>

            <div class="textArea">
            <label class="directionLabel" for="directions">Directions :</label>
            <textarea name="directions" id="" cols="80" rows="15"></textarea>
            </div>
    </div>
<br>




<br>

<button class="loginButton" type="submit" style="margin-left: 0;">Submit</button>

{{!-- author: { type: Schema.Types.ObjectId, ref: 'User' } --}}
    {{!-- image: String, --}}
</form>
</div>