

<a href="/recipes/new"><button class="loginButton ">Create new Recipe</button></a>
<div class="row recipeGrid">
{{#each Recipes}}

<div class="col-sm-6 col-md-3 eachRecipeGrid">
    <img class="imgSize" src="{{this.image}}" alt="">

    <div class="recipeInfo">
    <p>{{this.name}}</p>
    {{!-- <img src="{{this.image}}" alt=""> --}}
    {{!-- line 14 change the path ! --}}
    </div>
    
    <a  href="/recipes/{{@index}}"><button class="eachRecipeAnchor">See Details</button></a>
</div>
{{/each}}



</div>
